<div
  class="bg-white shadow-lg flex space-x-4 rounded-2xl items-center"
  [ngClass]="{
    'animate-ping overflow-hidden duration-1000': killed,
    'p-2': !killed
  }"
  (click)="killMeNow()"
>
  <div
    class="h-11 w-11 rounded-full"
    [ngClass]="{
      'bg-[#F04040]': number === 1,
      'bg-[#8A6F6F]': number === 2,
      'bg-[#C2F040]': number === 3
    }"
  ></div>
  <div class="flex flex-col justify-between">
    <p class="font-bold">Headline {{ number }}</p>
    <p>Lorem ipsum dolor sit</p>
  </div>
</div>
